[submodule "modules/bling"]
	path = modules/bling
	url = ../garado/bling.git
[submodule "modules/color"]
	path = modules/color
	url = ../andOrlando/color.git
[submodule "modules/keynav"]
	path = modules/keynav
	url = ../garado/awesome-keynav.git
[submodule "modules/rubato"]
	path = modules/rubato
	url = ../andOrlando/rubato.git
