@import "colors.css";

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 40vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

#box {
  display: flex;
  flex-direction: column;
  align-items: vertical;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#textstuff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#greeting-text {
  text-align: left;
}

#time {
  text-align: right;
}

.hcenter {
  width:100%;
  display: flex;
  justify-content: center;
}

p {
  font-family: "DisposableDroid BB";
  font-size: 2.5vw;
}
