/* colors */

* {
  al:      #00000000;
  bg:      #373e4d;
  se:      #475C7Bff;
  fg:      #eceff4;
  ac:      #bf616a;
  red:     #bf616a;
  green:   #a3be8c;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
