/* █▄░█ █▀█ █▀█ █▀▄    █▀▄ ▄▀█ █▀█ █▄▀ */ 
/* █░▀█ █▄█ █▀▄ █▄▀    █▄▀ █▀█ █▀▄ █░█ */

* {
    font:           "DisposableDroid BB 13";
    background:     #20242c;
    background-alt: #2e3440;
    foreground:     #eceff4;
    selected:       #bf616a;
    active:         #a3be8c;
    urgent:         #5e81ac;
}

inputbar {
  background-image: url("~/.config/rofi/themes/nord-dark", width);
}
